BASE_URL="localhost:8080"
SECRET_KEY=""
CONFIG_SMTP_HOST= ""
CONFIG_EMAIL_USERNAME=""
CONFIG_EMAIL_PASSWORD=""
APP_ENV="dev"
MAX_FILE_SIZE="10MB"
MAX_FILE_PER_REQUEST="5"
DB_USERNAME=""
DB_PASSWORD=""
DEFAULT_PORT=""
ADMIN_EMAIL="admin@lms-usti.com"
ADMIN_PASSWORD="admin123"